@model List<StudentCoursesViewModel>

<style>
    .card {
        width: 260px;
        border-radius: 0px;
        overflow: hidden;
        font-family: Arial, sans-serif;
        position: static;
    }

    .card-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-content {
        padding: 20px;
        background-color: #fff;
    }

    .course-title {
        font-size: 12px;
        font-weight: normal;
        color: #666;
        margin: 0 0 10px;
    }

    .lesson-title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin: 0 0 20px;
    }

</style>

<div id="carouselWrapper">

    <div id="courseCarousel" class="carousel-inner">
        @for (int i = 0; i < Model.Count; i += 4)
        {
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <div class="row">
                    @for (int j = i; j < i + 4 && j < Model.Count; j++)
                    {
                        <div class="col-md-3">
                            <div class="card">
                                <img src="@Model[j].CourseImgUrl" alt="@Model[j].CourseName" class="card-image">
                                <div class="card-content">
                                    <h3 class="course-title">@Model[j].CourseName</h3>
                                    <h4 class="lesson-title">@Model[j].CourseSectionName</h4>
                                    <button class="watch-lecture-button">Watch Lecture</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#prevBtn').click(function () {
            $('#courseCarousel').carousel('prev');
        });
        $('#nextBtn').click(function () {
            $('#courseCarousel').carousel('next');
        });
    });
</script>
