@model List<CoursesViewModel>
<link href="~/css/categorystyle.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container categoriesSearch">
    <div class="container searchandfilter">

            <button class="filter btn" id="filterButton" >
                <img src="~/images/faders.svg" />
                <label>Filter</label>
                <span>3</span>

            </button>
        <div>
            <input class="searchBar" type="text" id="searchBar" placeholder="What do you want learn..." />
        </div>
    </div>

    <div class=" container filterLeftSide">
        <span>Sort by:</span>
        <div class="dropdown">
            <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Trending
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
<hr class="categoriesbottomLine" />
<div class="container CoursesAndCategories">

    <div id="filterContainer">
        @await Component.InvokeAsync("Category")
    </div>

    <div>
        <div class="container courseList">
            @foreach (var item in Model)
            {
                <div class="card">
                    <img src=@item.Url alt="Course Image">
                    <div class="card-content">
                        <div class="card-content-header">
                            <p>@item.CategoryName</p>

                            <div class="price">$@item.Price</div>
                        </div>
                        <h6>@item.CourseName</h6>
                    </div>
                    <div class="card-footer">
                        <div class="rating">
                            <i class="fas fa-star"></i><span>@item.Rating</span>
                        </div>
                        <div class="students">
                            <img class="faUser" src="~/images/user.svg" /> <span>@item.StudentCount <span class="insidespan">students</span></span>
                        </div>
                    </div>
                </div>
            }


        </div>

        <div class="pagination-container">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link specialLink" href="@Url.Action("Categories", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous">

                            <img src="~/images/arrowleft.svg" id="arrowLeft" />
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Categories", new { page = i })">@i.ToString("D2")</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link specialLink" href="@Url.Action("Categories", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">

                            <img src="~/images/arrowrightpaging.svg" id="arrowRight" />
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {

        $("#filterButton").click(function () {
            // var filterContainer = $("#filterContainer");
            // if (filterContainer.is(":visible")) {
            //     filterContainer.hide();
            // } else {
            //     filterContainer.show();
            // }
            var filterContainer = $("#filterContainer");
            filterContainer.toggle();
        });
    });

</script>


