@model CourseDetailedInformation
<style>
    .dashboadrBody {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }

        .dashboadrBody .card {
            padding: 5px;
            border: none;
            border-radius: 0px;
            width: 250px;
            padding: 15px;
            background-color: white;
        }

        .dashboadrBody .content {
            margin: 0px;
            background-color: white;
            height: 62px;
            padding: 0px;
        }

        .dashboadrBody .card {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        }

        .dashboadrBody .content h2 {
            font-size: 16px;
            font-weight: 500;
        }

        .dashboadrBody .content p {
            font-size: 12px;
            color: #4E5566;
        }

        .dashboadrBody img {
            padding-right: 20px;
            width: 70px;
        }

        .dashboadrBody .icon {
            width: 80px;
            height: 50px;
        }

    .results {
        width: 53%;
        margin-top: 20px;
    }

        .results h5, .enrolledCourses h5 {
            padding: 25px 0px 20px 0px;
            font-weight: 600;
        }

</style>

<div class="results">
    <div class="mt-3 dashboadrBody">
        <div class="card">
            <div class="icon">
                <img src="~/images/instructor/videoico.svg" />
            </div>
            <div class="content">
                <h2>@Model.LectureCount</h2>
                <p>Lecture (@Model.LectureSize GB)</p>
            </div>
        </div>
        <div class="card ">
            <div class="icon">
                <img src="~/images/instructor/comments.svg" />
            </div>
            <div class="content">
                <h2>@Model.TotalComments</h2>
                <p>Total Commends</p>
            </div>
        </div>
    </div>
    <div class="mt-3 dashboadrBody">
        <div class="card">
            <div class="icon">

                <img src="~/images/instructor/students.svg" />
            </div>
            <div class="content">
                <h2>@Model.StudentsEnrolled</h2>
                <p>Students Enrolled</p>
            </div>
        </div>
        <div class="card ">
            <div class="icon">
                <img src="~/images/instructor/courselevel.svg" />
            </div>
            <div class="content">
                <h2>@Model.CourseLevel</h2>
                <p>Course Level</p>
            </div>
        </div>
    </div>
    <div class="mt-3 dashboadrBody">
        <div class="card">
            <div class="icon">

                <img src="~/images/instructor/courselanguage.svg" />
            </div>
            <div class="content">
                <h2>@Model.CourseLanguage</h2>
                <p>Course Language</p>
            </div>
        </div>
        <div class="card ">
            <div class="icon">
                <img src="~/images/instructor/attachfiles.svg" />
            </div>
            <div class="content">
                <h2>@Model.AtachFile</h2>
                <p>Attach File (@Model.AtachFileSize GB)</p>
            </div>
        </div>
    </div>
    <div class="mt-3 dashboadrBody">
        <div class="card">
            <div class="icon">

                <img src="~/images/instructor/hours.svg" />
            </div>
            <div class="content">
                <h2>@Model.Hours</h2>
                <p>Hours</p>
            </div>
        </div>
        <div class="card ">
            <div class="icon">
                <img src="~/images/instructor/studentsview.svg" />
            </div>
            <div class="content">
                <h2>@Model.StudentsViewed</h2>
                <p>Students Viewed</p>
            </div>
        </div>
    </div>

</div>


